@import "Utils/variables";

@font-face {
    font-family: 'Shrikhand';
    src: url(/font/Shrikhand-Regular.otf);
}

@font-face {
    font-family: 'roboto';
    src:url(/font/Roboto-Regular.ttf)
}

@mixin btn {
    display: flex;
    justify-content: center;
    background:$gradient;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    box-shadow :  0px  0px  8px  0px  rgba(0, 0, 0, 0.4);    
}

@mixin hover-btn {
    opacity:0.7 ;
    box-shadow :  0px  0px  8px  0px  rgba(0, 0, 0, 0.8);
    cursor: pointer;
}


body{
    margin: 0;
    font-family: 'roboto';
}

a{
    text-decoration: none;
    color: black;
}

.header{
    margin-top: 10px;
    margin-bottom: 10px;
    .header__arrow{
        display: flex;
        justify-content: center;
    }
}

.fa-arrow-left{
    font-size: 20px;
    position: absolute;
    top: 20px;
    left: 25px;
}

.image__plate{
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.menus{
    background-color: #f6f6f6;
   padding: 20px;
   margin-top: -60px;
   overflow: overlay;
   border-radius: 20px 20px 0 0;
   .menu{
        padding-bottom: 50px;
   }
        .menu__card{
            margin-bottom: 60px;
        }
            .menu__card__dishes{
                margin-bottom: 35px;
            }
}

.menu__header__title{
    font-family: 'shrikhand';
    font-weight: normal;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.fa-heart{
    font-family: 'FontAwesome';
}

.menu__card__description{
    border: 2px solid #f3f3f3;
    background-color: white;
    border-radius: 25px;
    padding-left: 10px;
    margin-bottom: 20px;
}

.menu__card__title{
    font-weight: normal;
    font-size: 1.1em;
    border-bottom: 5px solid $colour-tertiary;
    width: 50px;
    padding-bottom: 5px;
}

.menu__card__dish{
    margin-bottom: 0;
}

.menu__card__ingredients{
    display: flex;
    justify-content: space-between;
    .menu__card__ingredient{
        display: flex;
        justify-content: space-between;
        margin-top: 2px;
    }   
    .menu__card__price{
        margin-top: 2px;
        margin-right: 40px;
        font-weight: bold;
    }    
}

.menu-order{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    .menu-order__button{
        width: 210px;
        padding: 20px;
    }
}

.btn{
    @include btn;
        &:hover{
        @include hover-btn;
    }      
}

.btn:hover{
    opacity:0.7 ;
    box-shadow :  0px  0px  8px  0px  rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

.footer{
    padding-bottom: 40px;
    padding-left: 20px;
    padding-top: 20px;
    color: white;
    background-color: black;
}

.footer__logo h3{
    font-weight: lighter;
}

.footer__logo{
    font-family: 'shrikhand';
}

.footer__nav__title{
color: white;
}

.fa-utensils, .fa-hands-helping{
    margin-right: 10px;
}

.footer__contact{
    color: white;
}

@media screen and (min-width:1200px) {

.image__plate{
    height: 385px;
}

.menus{
    margin-top: -20px;
}

.menu__header__title{
    justify-content: center;
}

.fa-heart{
    margin-left: 20px;
}

.menu__card{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;

}

.menu-order{
    padding-bottom: 0;
}

.footer__navs{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
    
}